<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <p>
          A results-driven, self-motivated, and resourceful Software Developer with experience in developing and executing innovative software to meet
ever-changing information Technology requirements. Proficient in Programming Languages, e.g., Java, Python, C++ and skilled in software
design, debugging, and testing. Strong organization, project management, and practical multi-tasking skills with demonstrated ability to manage
expectations. Looking for an opportunity in a dynamic organization where my skills will be fully utilized.
  </p>
      </div>
    </div>
  </div>
</section>
