<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <p>With a keen interest in computer science, I am passionate about working collaboratively as a team member 
          and growing professionally. I acknowledge the importance of excellent communication and problem-solving skills 
          and am eager to apply my computer skills to gain knowledge and advance my career. I am actively seeking an 
          internship that will allow me to gain invaluable experience and further hone my skills. </p>
      </div>
    </div>
  </div>
</section>
